    /* You can add global styles to this file, and also import other style files */
    
    .letter {
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-variant-east-asian: normal;
        font-weight: 400;
        font-stretch: normal;
        font-size: 17px;
        line-height: 26px;
        font-family: "Fira Sans", sans-serif;
    }